.form-group{
    margin: 1rem 0;
}

.action-footer{
    border-top: 1px solid lightgrey;
    margin-top: 2rem;
    padding: 1rem 0;
}

label{
    font-weight: 600;
    font-size: large;
}

select{
    width: 100%;
    height: 35px;
    padding: 0 0.5rem;
}